
body{
    font-size: 30px;
}
    

div.iconface img{
    height:10%;
    width:10%;
    
    
}
.iconface{
    width:100%;
    display: flex;
    justify-content: baseline;

}
.iconface input{
    width:80%;
    height:100px;
    
}

